@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0%;
  font-family: "Inter", system-ui;
}
header {
  padding: 0em 1em;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
}
li:hover,
li:hover > select {
  background-color: rgb(240, 240, 240);
}
a {
  text-decoration: none;
  color: black;
}
.logo-a {
  display: flex;
  align-items: center;
  gap: 0.1em;
  font-size: 1.3em;
  font-weight: 700;
}
select {
  border: none;
  padding: 0;
  margin: 0;
}
.logo {
  width: 35px;
}
.nav-manu {
  display: flex;
  align-items: center;
  gap: 0.1em;
  padding-top: 0.2em;
  padding-left: 1em;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 0.5em;

  .vl {
    width: 1px;
    background-color: #ccc;
    height: 1em;
    /* margin-left: 1em; */
    /* margin-right: 1em; */
  }
  .rd-btn {
    background: white;
  }
  .rd-btn:hover {
    background: rgb(240, 240, 240);
  }
  .login-btn {
    background: white;
  }
  .login-btn:hover {
    background: rgb(240, 240, 240);
  }
  .gnf-btn {
    background: #121212;
    color: white;
  }
  .gnf-btn:hover {
    background: #3f3e3e;
  }
}
.btn {
  border: none;
  border-radius: 0.5em;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.5em 0.8em;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
}
main > h1 {
  text-align: center;
  font-size: 4.5em;
  width: 9em;
  line-height: 1em;
  letter-spacing: -0.03em;
  margin-bottom: 0;
}
main > h1 + p {
  margin: 0.5em 0;
  font-size: 1.7em;
  font-weight: 600;
}
main > button {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-weight: 600;
  color: white;
  background: #000;
  font-size: 0.9em;
  padding: 1em;
}
button > img {
  width: 20px;
}
main > img {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  width: 45em;
}

footer {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.footer-div {
  display: flex;
  width: 12em;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 0 0 0.2em 0.2em #f7f3f3;
  padding: 0.5em 1em;
  background-color: #f7f3f3;
}
section {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.last-child {
  width: 15em;
  font-size: 0.8em;
  font-weight: 600;
  margin: 0;
  display: flex;
  flex-direction: column;
}
section > img {
  width: 2em;
  height: 2em;
}

section > a {
  visibility: hidden;
}
.footer-div:hover a {
  visibility: visible;
}
.footer-div:hover {
  background-color: white;
  scale: 105%;
  cursor: pointer;
}
section > a > img {
  width: 2em;
}

.ai-qa {
  font-size: 0.8em;
  font-weight: 600;
  background: rgb(240, 225, 249);
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
}
.marg {
  display: flex;
  align-items: center;
  gap: 0.1em;
  margin: 0;
}
